$color-primary: #402d6b;
$color-secundario: #522a6d;
$color-acento: #502236;
$color-fondo: #f5f5f5;
$color-texto: #d3d1d1;
$color-texto2: #000000;

$font-title: 'UnifrakturCook', cursive;
$font-text: 'Savate', sans-serif;
