@use "../base/variables";

.header-home {
  background-color: variables.$color-primary;
  color: white;
  padding: 1rem;

  .encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .imagen {
      width: 60px;
    }

    .titulo h2 {
      font-family: variables.$font-title;
      font-size: 2rem;
      margin: 0 1rem;
    }

    .navegador ul {
      list-style: none;
      display: flex;
      gap: 1rem;

      li a {
        font-weight: bold;
        color: white;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
